<!DOCTYPE html>
<html>
<head>
    <title><%= personData.person_name%></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1><%= personData.person_name%></h1>
<!-- name of each tab group should be unique -->
<div class="tabs tabs-lift">
    <input type="radio" name="my_tabs_3" class="tab" aria-label="Peliculas Actuadas" <% if (personData.actedMovies.length !== 0) { %> checked <% } %> />
    <div class="tab-content bg-base-100 border-base-300 p-6">
        <% if (personData.actedMovies.length === 0) { %>
            <p>No actuo en ninguna pelicula</p>
        <% } else { %>
            <ul>
                <% personData.actedMovies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
                    <li><a class="link-hover" href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a> <p><%= movie.character_name%></p></li>
                <% }); %>
            </ul>
        <% } %>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Peliculas Dirigidas" <% if (personData.actedMovies.length === 0) { %> checked <% } %>/>
    <div class="tab-content bg-base-100 border-base-300 p-6">
        <% if (personData.directedMovies.length === 0) { %>
            <p>No dirigió ninguna película</p>
        <% } else { %>
            <ul>
                <% personData.directedMovies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
                    <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %>(<%= new Date(movie.release_date).getFullYear() %>)</a></li>
                <% }); %>
            </ul>
        <% } %>
    </div>

</div>




<div id="inicio"><a class="link link-hover" href="/">Inicio</a></div>
</body>
</html>


