<!DOCTYPE html>
<html>
<head>
    <title><%= personData.person_name%></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1><%= personData.person_name%></h1>
<h2>Información Personal</h2>
<ul>
    <li>Nombre: <%=personData.person_name%></li>
</ul>
<% if (personData.actedMovies.length === 0) { %>
    <p></p>
<% } else { %>
<h2>Peliculas Actuadas</h2>
<ul>
    <% personData.actedMovies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
        <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a> <p><%= movie.character_name%></p></li>
    <% }); %>
</ul>
<% } %>
<% if (personData.directedMovies.length === 0) { %>
    <p></p>
<% } else { %>
<h2>Peliculas Dirigidas</h2>
<ul>
    <% personData.directedMovies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
        <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %>(<%= new Date(movie.release_date).getFullYear() %>)</a></li>
    <% }); %>
</ul>
<% } %>
<div id="inicio"><a href="/">Inicio</a></div>
</body>
</html>


